*{padding:0;margin:0}
body,html,#app{width: 100%;height: 100%;background: #090806;}
.contenter{
    background-image: url(./img/bg.png);
    background-size: 7.5rem 23.40rem;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 8.5rem;
    /*padding-bottom: 0.5rem;*/
    position: relative;
}
.priseBtn{
    padding: 0 0.2rem;
    min-width: 2.61rem;
    height: 0.77rem;
    position: absolute;
    top: 2.11rem;
    right: 0;
    background-image: url(./img/acPrise.png);
    background-size: 100% 0.77rem;  
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 0.32rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 0.77rem;
    text-align: center;
}
.ruleBtn{
    width: 3.78rem;
    height: 0.92rem;
    position: absolute;
    top: 7rem;
    left: 1.86rem;
    background-image: url(./img/acRules.png);
    background-size: 3.78rem 0.92rem;
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 0.4rem;
    font-family: Helvetica;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 0.92rem;
    text-align: center;
}
.listArea{
    margin:auto;
    width: 6.80rem;
    height: 7.40rem;
    background: #FFF9DC;
    border-radius: 0.2rem;
}
.listArea .title{
    height: 1.9rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.span1,.span2{
    font-size: 0.32rem;
    font-family: Helvetica;
    font-weight: 400;
    color: #FC7000;
    padding: 0.15rem 0.1rem;
}
.listArea .title .acSpan{
        border-bottom: 0.03rem solid #FC7000;
}
.listArea .title .span{
        border-bottom: 0.03rem solid #FFF9DC;
}
.listArea .listBox{
    overflow: scroll;
    width: 100%;
    height: 5.5rem;
}
.listArea .listBox .per{
    height: 0.98rem;
    width: 100%;
    margin-bottom: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listArea .listBox .per .index{
    width: 0.6rem;
    font-size: 0.32rem;
    font-family: PingFang SC;
    font-weight: 600;
    color: #FEB349;
}
.listArea .listBox .per .photo{
    width: 0.98rem;
    height: 0.98rem;
    border-radius: 50%;
    background: #cecece;
    margin:0 0.2rem;

}
.listArea .listBox .per .name{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 2rem; 
    color: #FEB349;
    margin-right: 0.3rem;
}
.listArea .listBox .per .info{
    width: 1.9rem;
    color: #FEB349;
    font-size: 0.26rem;
}
.listArea .listBox .per .info .bigText{
    font-weight: 600;
    font-size: 0.32rem;
}
.kong{
    height: 1.6rem;
    width: 100%;
}
.fixedPer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 0.98rem;
    width: 100%;
    /*margin-bottom: 0.3rem;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFE469;
    color: #FC7200;
    border-bottom:0.04rem solid #FEB349;
}
.fixedPer .index{
    width: 0.6rem;
    font-size: 0.32rem;
    font-family: PingFang SC;
    font-weight: 600;
    color: #FC7200;
}
.fixedPer .photo{
    width: 0.98rem;
    height: 0.98rem;
    border-radius: 50%;
    background: #cecece;
    margin:0 0.2rem;

}
.fixedPer .name{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 2rem; 
    color: #FC7200;
    margin-right: 0.3rem;
}
.fixedPer .info{
    width: 1.9rem;
    color: #FC7200;
    font-size: 0.26rem;
}
.fixedPer .info .bigText{
    font-weight: 600;
    font-size: 0.32rem;
}